button {
	background-image: var(--btnBg);
	background-size: 200% auto;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: h;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	padding: 8px 16px;
	touch-action: manipulation;
	transition: all 0.6s;
	user-select: none;
	&:hover {
		background-position: right center;
		/* change the direction of the change here */
		color: #fff;
	}

	&:active,
	&:focus,
	&:focus-visible {
		box-shadow: 0 0 5px #000 inset;
		filter: var(--fF);
		outline: 0;
	}

	&:active {
		transform: scale(0.95);
	}

	&[disabled] {
		box-shadow: 0 0 2em #000 inset;
		cursor: not-allowed;
		filter: grayscale(100%);
		opacity: 0.4;
	}
}

p button {
	background-image: linear-gradient(45deg, #129 0, #06f 40%, #00f 100%);
	border-radius: 16px;
	margin: 2px 0;
}
