input:is([type="text"], [type="password"], [type="url"], [type="email"]) {
	border: 1px solid #ccc;
	border-radius: 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 21px;
	outline: 0;
	padding: 16px;
	width: 100%;

	& + label {
		background: #fff;
		border-radius: 12px;
		color: #999;
		font-weight: 200;
		left: 10px;
		line-height: 24px;
		padding: 3px 7px;
		position: absolute;
		top: -16px;
		transition: all 0.3s;
		user-select: none;
	}
	&:autofill {
		background-clip: text;
	}
	&:focus {
		border-color: var(--fC);
		color: #000;
	}
	&:focus + label {
		color: var(--fC);
	}
	&:hover {
		color: var(--hC);
		border-color: var(--hC);
	}
	&:hover + label {
		color: var(--hC);
	}
	&:disabled {
		background: #f9f9f9;
		color: #999;
		display: inline-block;
		position: relative;
		user-select: none;
	}
	&:disabled + label {
		background: #fcfcfc;
		box-shadow: 0 0 3px #ddd inset;
		color: #999;
		font-size: 14px;
		padding: 2px 10px;
		top: -15px;
	}
	&::placeholder {
		opacity: 0.8;
		user-select: none;
	}
	&:placeholder-shown + label {
		background: transparent;
		color: #999;
		cursor: text;
		left: 10px;
		pointer-events: none;
		top: 13px;
	}
}
